
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bash run-dev.sh"]
deploymentTarget = "cloudrun"
ignorePorts = false

[unitTest]
language = "nodejs"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
author = 40133461

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
